@page "/"
@using KinoCMS.Shared.Models
@inject HttpClient Http

<div class="row">
    @foreach (var p in _model.List)
    {
        <div class="col-3 card p-1">
            <img class="card-img" src="@p.Src" alt="">
            <div class="card-body">
                <p>@p.Name</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-success">Купить билет</button>
            </div>
        </div>
    }
</div>

@code {
    private FilmModelView _model = new FilmModelView();

    protected override async Task OnInitializedAsync()
    {
        _model = await Http.GetFromJsonAsync<FilmModelView>("Home/GetTable");
    }
}